.image-stack {
    position: relative;
    width: 100%;
  }
  
  .image-stack__item--bottom {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%; 
    z-index: -1;
  }
  
  .image-stack__item--top {
    padding-top: 20px;
    padding-right: 20%; 
    width: 80%; 
  }
  
  .imge {
    width: 20%;
    display: block;
  }