.CWbtn{
    height: 3rem !important;
}
.NLink{
    text-decoration: none;
    font-size: 1.1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0.01vmax;
    transition: all 0.5s;
    position: absolute;
    padding-top: 1rem;

}
.NLink:hover{
    color: crimson;
}
.navbg{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.49);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);

}